<h1>Produits</h1>
<form>
 <input type="text" ng-model="keyword">
 <input type="button" value="Rechercher" ng-click="search(keyword, products)">
</form>

<!-- TODO tableau de résultat -->
<table>
 <tr>
   <th ng-repeat="a in cfg.attributes">
     {{printAttrLabel(a)}}
   </th>
   <th> score </th>
   <th> scoreN </th>
 </tr>
 <tr ng-repeat="r in result | orderBy:'-score' | orderBy: '-scoreN' ">
   <td
     ng-repeat="a in attributes">
     {{printAttrVal(a, r)}}
   </td>
   <td> {{r.score}} </td>
   <td> {{r.scoreN}} </td>
 </tr>
</table>
